@import './responsive.scss';

.App {
  background-color: #000;
  color: white;
  
  ul {
    list-style-type: none;
  }
}

.modalOut {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeBtn {
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
}

header { // 시멘틱태그 공부
  width: 100vw;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  z-index: 8888;
  
  .logo {
    position: absolute;
    left: 6.25vw;;
    top: 20px;
  }
  
  nav{  // ul, li를 써보자!
    
    button {
      position: absolute;
      top: 20px;
      background-color:rgba(0, 0, 0, 0);
      border: none;
      color: white;
      
    }
    .search {
      right: 15vw;
      .searchIcon {
        width: 30px;
      }
    }
    
    .menu {
      right: 6.25vw;
      .menuIcon {
        width: 30px;
      }
    }
  }
  

  .searchModal{
    position: absolute;
    right: 80px;
    top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    z-index: 9999;

    .searchInput {
      position: relative;
      width: 220px;
      height: 35px;
      
      .searchText{
        width: 100%;
        height: 100%;;
        background-color: rgba(231, 231, 231, 0.31);
        color: #000;
        border-radius: 16px;
        border: none;
        outline: none;
      }

      .searchBtn {
        position: absolute;
        top : 55%;
        right: 0;
        transform: translate(0, -50%);
        background-color: rgba(0, 0, 0, 0);
        border: none;
        .searchBtnIcon {
          width: 30px
        }
      }
    }

    .searchList {
      background-color: #000;
      display: flex;
      flex-direction: row;
    }
  }

  .menuModal {
    background-color: #404040;
    width: 120px;
    position: absolute;
    right: 20px;
    top: 40px;
    padding: 0;
    z-index: 9997;

    button {
      width: 100%;
      padding: 10px 0;
      margin-top: -1px;
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
    }
  }

  .loginModal {
    width: 450px;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh auto;
    border: 1px solid black;
    background-color: #404040;
    color: #fff;
    
    z-index: 9999;

    .loginInput {
      width: 70%;
      height: 40px;
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
      outline: none;
      border: none;
      border-bottom: 1px solid black;
      margin-bottom: 30px;
    }

    .loginCheckbox {
      width: 100%;
      transform: translate(-35%, -15px);
    }

    .loginBtn {
      width: 100px;
      height: 40px;
      border: none;
      background-color: #fff;
    }
  }
}


main {
  width: 100%;
  overflow: hidden;

  .home{
    @include desktop{
      .hero {
        width: 100vw;
        height: 40vw;
  
        margin-bottom: 65px;
      }
    }
    @include tablet{
      .hero {
        width: 100vw;
        height: 39.0625vw;
  
        margin-bottom: 10px;
      }
    }
    .movieLists {
      margin-top: 0;
    
      .movieList {
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        @include desktop{
          margin-bottom: 65px;
          transform: translateX(-80px);
          
          .voidReducedTag {
            width: 100%;
            height: 35px;
          }

          .reducedTag {
            width: 100%;
            height: 35px;
            margin-left: 10px;
            text-align: start;
            
            .tagIcon {
              width: 25px;
            }
            
            .tagName {
              position: relative;
              bottom: 5px;
            }
      
          }
        }
        @include tablet{
          margin-bottom: 10px;
          transform: translateX(-80px);
          
          .voidReducedTag {
            width: 100%;
            height: 35px;
          }

          .reducedTag {
            width: 100%;
            height: 35px;
            margin-left: 10px;
            text-align: start;
            
            .tagIcon {
              width: 25px;
            }
            
            .tagName {
              position: relative;
              bottom: 5px;
            }
      
          }
        }

      
        .movieScroll {
          overflow-x: scroll;
          display: flex;
          flex-direction: row;
          width: 100%;
          height: 100%;
          
          .tag {
            padding-right: 50px;
            @include desktop {
              height: 163px;
            }
            @include tablet {
              height: 124px;
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            
            .tagIcon {
              width: 80px;
            }
          }

          .scrollBtn{
            position: absolute;
            @include desktop {
              height: 163px;
            }
            @include tablet {
              height: 124px;
            }
            font-size: x-large;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.3);
            border: none;
            z-index: 7777;
          }
            
          .prevBtn {
            @extend .scrollBtn;
            left: 40px;
          }
            
          .nextBtn {
            @extend .scrollBtn;
            right: 18px;
          }
          
          .movie{
            position: relative;
            @include desktop {
              margin: 0 5px;
              .moviePoster { // ul, li로 묶기
                width: 290px;
                height: 163px;
              }
            }
            @include tablet {
              margin: 0 4px;
              .moviePoster { // ul, li로 묶기
                width: 228px;
                height: 124px;
              }
            }
            &:hover {
              .layer {
                display: block;
              }
              .movieInfo{
              display: flex;
              }
            }
            .layer {
              display: none;
              position: absolute;
              background-color: rgba(0, 0, 0, 0.5);
              width: 100%;
              height: 100%;
            }
          
          .movieInfo {
            display: none;

            .title {
              position: absolute;
              bottom: 15px;
              left: 15px;
            }

            .movieMenu {
              position: absolute;
              top: 10px;
              right: 10px;
              display: flex;
              flex-direction: column;
              button {
                background-color: rgba(0, 0, 0, 0);
                color: white;
                border: none;
              }
            }
          }
        }
      }
      
      ::-webkit-scrollbar {
        display: none;
      }

    }
  }

    .detailModal { 
      background-color: #000;
      position: fixed;
      top: 5%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 600px;
      height: 800px;
      z-index: 9999;
       
      .detailImg {
        width: 100%;
       }

      .playBtn {
        position: absolute;
        top: 38.5%;
        right: 92%;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        border: none;
      }
      
      .keepBtn {
        position: absolute;
        top: 38.5%;
        left: 94%;
        background-color: rgba(0, 0, 0, 0);
        color: #fff;
        border: none;
      }
      
       .detailInfo {
        width: 100%;
        .runningTime {
          width: 98%;
          text-align: end;
          font-size: 12px;
        }
        .title {
          margin-left: 37px;  
        }
        .summary {
          margin: 0 37px;
          font-size: 15px;
        }
        .otherInfo {
          margin-top: 20px;
          font-size: 15px;
        }
        
       }
    }
    footer {
      margin-top: 120px;
      text-align: center;
      margin-bottom: 120px;
    
      div {
        margin: 10px;
      }
    
      span {
        margin: 10px
      }
    }

    .gradiant {
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 120px;
      z-index: 6666;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
    }
  }
}


.test {
  width: 100%;
  height: 100px;
  background-color: #fff;
  color: #000;
  transition: 0.5s all;
}

//시멘틱 태그, 가운데정렬 분산, ul li 
// top50%, 50% 위로 